{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block tabtitle %}ایجاد مقاله{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" class="row" id="create-article-form">
        {% csrf_token %}
        <div class="col-6">{{ form.title|add_class:'fvazir'|as_crispy_field }}</div>
        <div class="col-6">{{ form.slug|add_class:'fvazir'|as_crispy_field }}</div>
        <div class="col-12">{{ form.content|safe }}</div>
        <div class="col-4">{{ form.thumbnail|add_class:'fvazir'|as_crispy_field }}</div>
        <div class="col-3">{{ form.publish|add_class:'fvazir'|as_crispy_field }}</div>
        <div class="col-12"></div>
        {% if user.is_superuser %}
            <div class="col-3">{{ form.author|add_class:'fvazir'|as_crispy_field }}</div>
            <div class="col-3">{{ form.status|add_class:'fvazir'|as_crispy_field }}</div>
        {% elif user.is_author %}
            <div class="col-3">
                <div id="div_id_status" class="form-group">
                    <label for="id_status" class=" requiredField">
                        وضعیت<span class="asteriskField">*</span>
                    </label>
                    <div class="">
                        <select name="status" class="select form-control fvazir" required="" id="id_status">
                            <option value="draft">پیش نویس</option>
                            <option value="pending">ارسال برای مدیر</option>
                        </select>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-12"></div>
        <br>
        <button type="submit" class="my-4 btn btn-primary fvazir col-4 offset-4">
            {% if request.resolver_match.view_name == 'account:update' %}
            بروزرسانی
            {% else %}
            ایجاد
            {% endif %}
        </button>
    </form>
{% endblock %}
