{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block tabtitle %}تغییر رمزعبور{% endblock %}

{% block content %}
    <form method="post" class="row" id="change-password-form">
        {% csrf_token %}
        <div class="col-6">{{ form.old_password|as_crispy_field }}</div>
        <div class="col-6"></div>
        <div class="col-6">{{ form.new_password1|as_crispy_field }}</div>
        <div class="col-6">{{ form.new_password2|as_crispy_field }}</div>

        <div class="col-12"></div>
        <br>
        <button type="submit" class="my-4 btn btn-primary fvazir col-4 offset-4">
            تغییر رمزعبور
        </button>
    </form>
{% endblock %}
