{% load gravatar %}
{% load custom_tags %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="{% url 'account:home' %}" class="brand-link">
        <span class="brand-text font-weight-light fvazir" style="font-weight: 500 !important; color: #FFF;">پنل نویسندگان</span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% gravatar_url user.email 90 %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block text-white">
                    {% if user.get_full_name %}
                        {{ user.get_full_name }}
                        {% if user.is_superuser %}
                            <i class="fa fa-star" style="color: #ffd43b;"></i>
                        {% endif %}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                </a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                {% if user.is_superuser or user.is_author %}
                <li class="nav-item">
                    <a href="./index.html" class="nav-link">
                        <i class="fa fa-bars"></i>
                        <p>لیست مقالات</p>
                    </a>
                </li>
                <li class="nav-item">
                    {% link request 'account:create' 'ایجاد مقاله' 'fa-edit' %}
                </li>
                {% endif %}
                <li class="nav-item">
                    {% link request 'account:profile' 'پروفایل' 'fa-user' %}
                </li>
            </ul>
        </nav>
    </div>
</aside>