{% extends 'blog/base.html' %}
{% load gravatar %}

{% block tabtitle %}{% block title %}
    {{ object.title }}
{% endblock %}{% endblock %}

{% block subtitle %}
    {{ object.jpublish }}
{% endblock %}

{% block header-img-link %}{{ object.thumbnail.url }}{% endblock %}

{% block content %}
    <div class="article-content shadow p-3 mb-5 bg-white rounded">
        {{ object.content|safe }}
    </div>
    <div class="author-footer shadow p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-10">
                <h6>توسط:
                    <a href="{% url 'blog:author' object.author.username %}">
                        {% if object.author.get_full_name %}
                            {{ object.author.get_full_name }}
                        {% else %}
                            {{ object.author.username }}
                        {% endif %}
                    </a>
                </h6>
            </div>
            <div class="col-2 d-flex justify-content-end">
                <img src="{% gravatar_url object.author.email 75 %}" alt="{{ object.author.get_full_name }}">
            </div>
        </div>
    </div>
{% endblock %}
