{% extends 'blog/base.html' %}
{% load humanize %}
{% load static %}


{% block tabtitle %}وبلاگ تک تایمز {% endblock %}

{% block title %}مقالات اخیر {% endblock %}

{% block header-img-link %}{% static 'blog/img/home-bg.jpg' %}{% endblock %}

{% block content %}
    {% for article in object_list %}
        <div class="post-preview shadow-sm p-3 mb-5 bg-white rounded">
            <a href="{% url 'blog:detail' article.slug %}">
                <h2 class="post-title">
                    {{ article.title }}
                </h2>
                <h4 class="post-subtitle">
                    {{ article.content|truncatewords:35 }}
                </h4>
            </a>
            <p class="post-meta" style="text-align: left">
            <span style="float: right;">
                <i class="fa fa-user"></i> &nbsp;
                توسط
                <a href="{% url 'blog:author' article.author.username %}" style="text-decoration: none;">
                    {% if article.author.get_full_name %}
                        {{ article.author.get_full_name }}
                    {% else %}
                        {{ article.author.username }}
                    {% endif %}
                </a>
            </span>
                <span>
                <i class="fa fa-clock"></i> &nbsp;
                {{ article.publish|naturaltime }}
            </span>
            </p>
        </div>
    {% empty %}
        <h2>مطلبی یافت نشد.</h2>
    {% endfor %}
{% endblock %}


{% block next-page-link %}
    <a class="btn btn-primary float-right fvazir page-item" href="{% url 'blog:home' page_obj.next_page_number %}">
        <i class="fa fa-left-arrow"></i>
        صفحه بعد
    </a>
{% endblock %}

{% block previous-page-link %}
    <a class="btn btn-primary float-right fvazir page-item" href="{% url 'blog:home' page_obj.previous_page_number %}">
        <i class="fa fa-left-arrow"></i>
        صفحه قبل
    </a>
{% endblock %}